@page "/AddFamily"
@using global::Models
@using Data
@inject IUserService UserService;
@inject IFamilyService FamilyService;
@inject NavigationManager NavigationManager;


<AuthorizeView>
    <NotAuthorized>
        
        <p>Please <a class="btn-primary" href="/login">Login</a> to view this page</p>
    </NotAuthorized>
    <Authorized Context="Auth">
        <EditForm Model="@newFamily" OnValidSubmit="@AddNewFamily" Context="Family">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>
            <div class="form-group"> Street name <br/>
                <InputText @bind-Value="newFamily.StreetName"></InputText>
            </div>
            <div class="form-group"> House number: <br/>
                <InputNumber rows="4" @bind-Value="newFamily.HouseNumber"></InputNumber>
            </div>
            <p class="actions">
                <button class="btn btn-outline-dark" type="submit"> Add family</button>
            </p>
        </EditForm>
    </Authorized>
</AuthorizeView>

<div style="color:red">@errorMessage</div>
@code {
    private int userId;
    private string errorMessage;
    private Family newFamily = new Family();
    

    private void AddNewFamily()
    {
        userId = UserService.getCurrentUserID();
        errorMessage = "";
        newFamily.UserId = userId;
        try
        {
            FamilyService.AddFamily(newFamily);
            NavigationManager.NavigateTo("/families", forceLoad:true);
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
        }
    }
}